<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 
    
<body class="detail">
    <%- include('./partials/header') %> 

    <main>
        <h1><%= producto.name %> </h1>
        <section>
            
            <article>
                <div class="inicio">
                    <section class="imagenes">
                        <div class="extras">
                            <% for( let i = 1; i < producto.images.length; i++ ) { %>
                                <div class="extras"  style="background-image: url('/images/products/<%=producto.images[i].file%>');"></div>
                            <% } %>
                        </div>
                        <div class="principal">
                            <img src="/images/products/<%= producto.images[0].file %> " alt="">
                        </div>
                        
                    </section>
                    <div class="content">
                        <span><%= producto.price %> </span>
                        <div class="cantidad">
                            <button> + </button>
                            <input type="number">
                            <button> - </button>
                        </div>
                        <div class="color">
                            <h3>Color</h3>
                            <div class='supercolor'>
                            <% producto.colors.forEach(color => { %>
                                <div>
                                    <input type="radio" name="color" id=<%= color.nombre %> class=<%= color.nombre%>>
                                    <label for=<%= color.nombre %> class=<%= color.nombre %>><%= color.nombre %></label>
                                </div>
                            <% }) %>
                            </div>
                        </div>
                        <div class="botones">
                            <button>Comprar</button>
                            <button>Agregar al carrito</button>
                        </div>
                        
                    </div>
                </div>
                <div class="descripcion">
                    <p><%= producto.description %></p>
                </div>
                <div class="table">
                    <ul>
                        <li>Variedad</li>
                        <li>Categoria</li>
                        <li>Edad</li>
                    </ul>
                    <ul>
                        <li><%= producto.variety.name %></li>
                        <li><%= producto.category.name %></li>
                        <li><%= producto.edad %></li>
                    </ul>
                </div>
            </article>
        </section>
    </main>

    <%- include('./partials/footer') %>
     
    
</body>
</html>