<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head') %> 
  
  <body>
    <%- include('./partials/header') %> 


    <div class="banner">
      <%- include('./partials/banner') %> 
    </div>
    <main>
      <section>
        <h1>Ofertas</h1>
        <% productos.forEach(producto => { %>
          <a href="/product/detail/<%= producto.id %>">
            <article>
              <%- include('./partials/cards',{
                producto: producto,
                name: producto.name,
                price: producto.price,
                edad: producto.edad,
                peso:producto.peso,
                stock:producto.stock,
                description: producto.description,
                categoria : 'Perros',
                variedad: 'Alimento'
              }) %> 
            </article>
          </a>
        <% }) %>
      
      </section>
      <section>
        <h1>destacados</h1>
        <% productos.forEach(producto => { %>
          <article>
            <%- include('./partials/cards',{
              producto: producto,
              name: 'Alimento',
              price: 2000,
              edad: producto.edad,
              peso:producto.peso,
              stock:producto.stock,
              description: producto.description,
              categoria : 'Perros',
              variedad: 'Alimento'
            }) %> 
          </article>
        <% }) %>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
