<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body class="productos">
        
        <%- include('./partials/header') %>

            <main>
                <h1>Productos</h1>
                <section>
                    <% productos.forEach(producto=> { %>
                        <a href="/product/detail/<%= producto.id %> ">
                            <article>
                                <div>
                                    <img src="/images/<%= products.image[0].file %> " alt="">
                                </div>
                                <div class="card">
                                    <h3>
                                        <%= producto.nombre %>
                                    </h3>
                                    <span>
                                        <%= producto.precio %>
                                    </span>
                                </div>
                            </article>
                        </a>
                        <% }) %>
                </section>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>