<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <h1>Productos</h1>
    <div>
      <a href="/admin/create" >
        <button class="btn btn-primary">Agregar producto</button>
      </a>
    </div>
    <section>
        <div class="table-responsive">
            <table class="table table-dark table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Variedad</th>
                        <th scope="col">Editar/Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% products.forEach(producto => { %>
                      <tr>
                        <th scope="row"><%= producto.id %></th>
                        <td><%= producto.name %></td>
                        <td><%= producto.brand %></td>
                        <td><%= producto.price %></td>
                        <td><%= producto.category.name %></td>
                        <td><%= producto.variety.name %></td>
                        <td> 
                          <div class="">
                            <a href="/admin/edit/<%= producto.id %>">
                                <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
                            </a>
                            <form action="/admin/eliminar/<%= producto.id %>?_method=DELETE" method="POST" id="eliminar-producto">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
            </table>
        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/JavaScript/SweetAlert.js"></script>
</body>
</html>