<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %> 
    
<body class="register">
    <%- include('../partials/header') %> 

    <main>
        <h1>Formulario de Registro</h1>

        <section>
            <form action="" method="get">
                <div class="contenedor">
                    <label for="nombre">Ingresa tu nombre</label>
                    <input type="text" id="nombre" name="nombre">
                    <p class="span text-danger">
                        <%= locals.errores && errores.nombre ? errores.nombre.msg : null %>
                    </p>
                </div>
                <div class="contenedor">
                    <label for="apellido">Ingresa tu apellido</label>
                    <input type="text" id="apellido" name="apellido">
                    <p class="span text-danger">
                        <%= locals.errores && errores.apellido ? errores.apellido.msg : null %>
                    </p>
                </div>
                <div class="contenedor">
                    <label for="email">Ingresa tu email</label>
                    <input type="email" id="email" name="email">
                    <p class="span text-danger">
                        <%= locals.errores && errores.email ? errores.email.msg : null %>
                    </p>
                </div>
                <div class="contenedor pass">
                    <label for="pass">Crea tu contraseña <i class="far fa-eye"></i></label>
                    <input type="password" id="pass" name="pass">
                    <p class="span text-danger">
                        <%= locals.errores && errores.pass ? errores.pass.msg : null %>
                    </p>
                </div>
                <div class="contenedor pass">
                    <label for="pass2">Verifica tu contraseña <i class="far fa-eye"></i></label>
                    <input type="password" id="pass2" name="pass2">
                    <p class="span text-danger">
                        <%= locals.errores && errores.pass2 ? errores.pass2.msg : null %>
                    </p>
                </div>
                <div>
                    <h3>Ya estas registrado? hace click aca</h3>
                    <h2><a href="/user/login"><i class="fas fa-bomb"></i></a></h2>
                </div>
                
                <button type="submit">Registrarse</button>
            </form>
        </section>
    </main>

    <%- include('../partials/footer') %>
     
    
</body>
</html>